html, body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: midnightblue;
}

.header .container h1 {
    margin: 0;
}

h1 {
    font-size: 72px;
    font-family: Helvetica;
    text-align: center;
    color: white;
    padding: 20px 0;
}

.content-area {
    background-color: red;
    height: 200px;
}

.footer {
    background-color: black;
    height: 100px;
    color: white;
    text-align: center;
    padding-top: 42px;
}

.footer a {
    color: white;
}

a:hover {
    font-weight: bold;
}
