html, body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: midnightblue;
}

.header .container h1 {
    margin: 0;
}

h1 {
    font-size: 72px;
    font-family: 'Helvetica Neue', Helvetica;
    text-align: center;
    color: white;
    padding: 20px 0;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

h3 {
    text-align: center;
}

.content-area {
    background-color: red;
}

.tagline {
    font-family: 'Helvetica Neue', Helvetica;
    background-color: black;
    color: white;
}
.footer {
    background-color: black;
    height: 100px;
    color: white;
    text-align: center;
    padding-top: 42px;
}

.articles {
    font-family: 'Helvetica Neue', Helvetica;
    background-color: grey;
    color: white;
}

.articles ul li {
    padding: 20px;
}

.footer a {
    color: white;
}

a:hover {
    font-weight: bold;
}
