html, body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: blue;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.content-area {
    background-color: blue;
    height: 200px;
}
.footer {
    background-color: floralwhite;

}